/*
 * Remember:
 *
 *   - variable names must start with two hyphens (--), e.g. --some-var
 *   - BEM-style notation
 *      - double-underscores indicate sub-elements of a module, e.g. hero__inner,
 *      - (non leading) double-hyphens indicate variants of a module, e.g. message--error
 *   - fallback values can be set for variables, e.g. var(--some-var, fallback)
 *
 */

@import url('modules/cartesian/cartesian.css');
@import url('modules/cartesian/polar-canvas.css');
@import url('modules/cartesian/polar-positioning.css');
@import url('modules/cartesian/xyz-positioning.css');
@import url('modules/cartesian/triangle.css');
@import url('modules/cartesian/trigonometry.css');
@import url('modules/alignment.css');
@import url('modules/variables.css');
@import url('modules/dark-light-mode.css');
@import url('modules/base-styles.css');
@import url('modules/border-box-fix.css');
@import url('modules/double-container-pattern.css');
@import url('modules/swipeable-container.css');
@import url('modules/custom-flex.css');
@import url('modules/colors.css');
@import url('modules/fonts.css');
@import url('modules/keys.css');
@import url('modules/wip.css');
@import url('modules/input/input.css');
@import url('modules/input/choice-picker.css');
@import url('modules/input/switch.css');
@import url('modules/input/toggle.css');
@import url('modules/language.css');
@import url('modules/code.css');
@import url('modules/top-bar.css');
@import url('modules/stackoverflow.css');
@import url('modules/social-links.css');
@import url('modules/programming-skills.css');
@import url('modules/nav.css');
@import url('modules/panels.css');
@import url('modules/shadows.css');
@import url('modules/time.css');
@import url('modules/copyright.css');
@import url('kss-workarounds.css');
@import url('special-cases.css');

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  min-width: 185px;
  margin: 0;
}

main {
  margin: 0 1em;
  font-size: 0.8rem;
}

.page-title {
  margin-top: 2em;
}

.page-title-and-author {
  margin: 0 1em;
}

.page-author {
  text-align: end;
}

a.my-email {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a.my-email:hover {
  transform: scale(1.05);
  transition: transform var(--transition-time);
}

/* These 2 rulesets below are meant to ease developing for smartphone; when
 * I'll go for responsive design, I'll probably have to throw them away. */
.main {
  max-width: 300px;
}
.body {
  max-width: 350px;
}
