/*
 * Remember:
 *
 *   - variable names must start with two hyphens (--), e.g. --some-var
 *   - BEM-style notation
 *      - double-underscores indicate sub-elements of a module, e.g. hero__inner,
 *      - (non leading) double-hyphens indicate variants of a module, e.g. message--error
 *   - fallback values can be set for variables, e.g. var(--some-var, fallback)
 *
 */

@import url('modules/base-styles.css');
@import url('modules/headings.css');
@import url('modules/border-box-fix.css');
@import url('modules/double-container-pattern.css');
@import url('modules/colors.css');
@import url('modules/fonts.css');
@import url('modules/keys.css');
@import url('modules/modal.css');
@import url('modules/input.css');
@import url('modules/input/choice-picker.css');
@import url('modules/input/switch.css');
@import url('modules/input/toggle.css');
@import url('modules/language.css');
@import url('modules/top-bar.css');
@import url('modules/nav.css');
@import url('modules/panels.css');
@import url('modules/shadows.css');
@import url('modules/time.css');
@import url('modules/copyright.css');
@import url('kss-workarounds.css');

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

body {
  margin: 0;
}

main {
  margin: 0 1em;
  font-size: 0.8em;
}

.page-title {
  text-align: center;
}

.page-title-and-author {
  margin: 0 1em;
}

.page-author {
  text-align: end;
}

.main > section {
  display: none;
}

.main > section#posts {
  display: initial;
}

/* These 3 rulesets below are meant to ease developing for smartphone; when
 * I'll go for responsive design, I'll probably have to throw them away. */
.main {
  /* while developing for smartphone */
  max-width: 300px;
}
.body {
  /* while developing for smartphone */
  max-width: 350px;
}
#page-title {
  font-size: 1.98rem;
}
