/*
 * This module is bad.
 *
 * The rulesets below target the `<svg>` tags in a very complicated way.
 * There's really no reason to have a class for the `<div>` (or whatever)
 * which encloses (indirectly) all the SVGs.
 */


/*
Opacity-based choice picker.

A disk shown for each possible choice; the disk of the selected choice is 100%
opaque, whereas the others are 50%. The transition happens in a time determined
by `var(--transition-time)`.

**_Note_**: the actual `input` is to be hidden via another module.

**_Note_**: the inner `<div>`s in the example below are just examples, and can be
chaged to other tags, such as `<svg>` or the likes; also the outer `<div>` can be
changed. On the other hand, `<input>` and `<label>` cannot be changed as they are
targeted as selectors.

Markup:
<div class="choice-picker">
  <input type="radio" id="choice1" name="choices" checked="checked">
  <label for="choice1">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
  <input type="radio" id="choice2" name="choices">
  <label for="choice2">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
  <input type="radio" id="choice3" name="choices">
  <label for="choice3">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
</div>

Styleguide Input.choice-picker
*/

.choice-picker {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
  margin: 0;
  width: fit-content;
}

.choice-picker input + label > * {
  cursor: pointer;
  opacity: 0.5;
  margin: 0.1em 0 0.1em 0.5em;
  vertical-align: top;
  transition: opacity var(--transition-time);
}

.choice-picker input:hover + label > * {
  opacity: 0.75;
}

.choice-picker input:checked + label > * {
  box-shadow: 0 0 0.2em 1px var(--shadow);
  opacity: 1;
}
