/* common stuff to put in any CSS */
:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
}

img { max-width: 100%; }

body * + * {
  margin-top: 1.5em;
}

/* actual stuff */
:root {
  --grey-10: hsl(0, 0%, 10%);
  --grey-20: hsl(0, 0%, 20%);
  --grey-30: hsl(0, 0%, 30%);
  --grey-40: hsl(0, 0%, 40%);
  --grey-50: hsl(0, 0%, 50%);
  --grey-60: hsl(0, 0%, 60%);
  --grey-70: hsl(0, 0%, 70%);
  --grey-80: hsl(0, 0%, 80%);
  --grey-90: hsl(0, 0%, 90%);
  font-size: calc(.6em + 1vw);
  min-width: 17em;
}

@media (min-width: 50em) {
  :root {
    font-size: 1.1em;
  }
}

body {
  font-family: Roboto;
  background-color: var(--grey-90);
  min-height: 100vh;
}

main {
  padding: 0 1.5em;
}

@media (min-width: 114em) {
  main {
    max-width: 114em;
    margin-right: auto;
    margin-left: auto;
  }
}



p {
  text-align: justify;
}

h5, p {
}

.title {
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title > * {
  margin: 0;
}

@media (min-width: 15em) {
  .title {
    display: grid;
    grid-template-areas: "burbi burbi     ."
                         ".     ampersand ."
                         ".     buratto   buratto";
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
  }
  .title > * {
    text-align: center;
  }
  .title > .burbi {
    grid-area: burbi;
  }
  .title > .ampersand {
    grid-area: ampersand;
  }
  .title > .buratto {
    grid-area: buratto;
  }
}

@media (min-width: 23em) {
  .title {
    text-align: center;
    display: block;
  }
}

.page-header {
  padding: .4em 1em;
}

.slogan {
  color: var(--grey-50);
  text-align: right;
}

.hero {
  padding: 2em 1em;
  text-align: center;
  margin: 0;
  background-image: url(/home/enrico/Images/ioESerena.jpg);
  background-size: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: .0em .0em .2em var(--grey-20);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu {
  background-color: var(--grey-80);
  padding-left: 0;
  list-style-type: none;
}

.menu li {
  flex: 1;
}

.menu > li {
  margin: 0;
}

.menu > li > a {
  display: block;
  padding: .25em .5em;
  text-align: center;
}

/*@media (max-width: 20em) {
}*/
  .menu > li > a > span {
    display: none;
  }

img.link-icon {
  width: 18px;
}

.tile {
  border-radius: 0 0 2em 0;
  border-style: solid;
  border-color: var(--grey-20);
  border-width: .5em 0 0 0;
  background-color: var(--grey-80);
  padding: 1.5em;
}

h2 {
  color: var(--grey-50);
  font-variant: small-caps;
}

.slogan > h2 {
}

h5 {
}

p {
  color: var(--grey-20);
}

.page-footer__inner {
  background-color: var(--grey-80);
  padding: 1em 0;
  text-align: center;
  color: var(--grey-50);
  font-size: .8em;
}

/* stuff I'm not using yet */
div.us {
  display: none;
}
