/* put this in a header */
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}

:root {
  --darkest-grey: #0c0d0e;
  --dark-grey: #2d2d2d;
  --gray: hsl(210, 7%, 56%);
  --border-gray: #4a4e51;
  --light-gray: #393939;
  --very-light-gray: hsl(210, 17%, 95%);
  --gold-darker: #f1b600;
  --silver-darker: #9a9c9f;
  --bronze-darker: #ab825f;
  --black-100: #414e51;
  --black-600: #c4c8cc;
  --black-050: #3d3d3d;
  --one-dot-5-em: 1.5em;
  box-sizing: border-box;
  font-size: calc(0.8em + 0.2vw);
}

*,
::before,
::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background: var(--gray) url(/home/enrico/Images/GiardinoDellOrco.png);
  font-family: sans-serif;
  background-blend-mode: screen;
}

body * + * {
  margin-top: var(--one-dot-5-em);
}

.body {
  max-width: 2048px;
}

.tile {
  padding: 2em;
  background-color: white;
  border-radius: 1em;
  border: 1px solid #000;
}

.nav {
  display: flex;
  padding: .5em;
  margin: auto;
  list-style-type: none;
}

.nav > li {
  margin-top: 0;
}

.nav > li > a {
  display: block;
  padding: .5em 1em;
  border: 1px solid black;
  text-decoration: none;
  border-radius: .5em;
}

.nav > li + li {
  margin-left: 1em;
}

.nav > .nav-right {
  margin-left: auto;
}

.body {
  margin: 0 auto;
}

.container {
  display: flex;
}

.container > * + * {
  margin-top: 0;
  margin-left: var(--one-dot-5-em);
}

.main {
  flex: 2;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.affix {
  position: sticky;
  top: var(--one-dot-5-em);
}

.fakeimg {
  background-image: url(https://scontent-lcy1-1.xx.fbcdn.net/v/t1.6435-9/107368462_10223033803979462_5987185859810720630_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=d9dwXWi4oeoAX-J4bX9&_nc_ht=scontent-lcy1-1.xx&oh=8a6e53d96b1cb3f731e66c65b011dd8e&oe=60B33E56);
}

.myphoto {
  background-image: url(https://scontent-lcy1-1.xx.fbcdn.net/v/t1.18169-9/13406867_10209782994515421_2327713164627140170_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=klV41FWRx8wAX9GczZF&_nc_ht=scontent-lcy1-1.xx&oh=520b60171752ee4629d074d98c4c2434&oe=60AC2343);
}

.header {
  padding: 1em 0;
  font-size: 3rem;
  text-align: center;
}

.page-footer {
  padding: 1em 1em;
  margin-bottom: var(--one-dot-5-em);
  background-color: var(--very-light-gray);
  color: var(--gray);
}

.page-footer__inner {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0px;
}

.badge1, .badge2, .badge3 {
    margin-right: 3px;
    margin-left: 2px;
    width: 6px;
}

.-badges {
  text-align: center;
  font-size: .80em;
}
.-badges .badge1+.badgecount, .badge1 {
  color: var(--gold-darker);
}
.-badges .badge2+.badgecount, .badge2 {
  color: var(--silver-darker);
}
.-badges .badge3+.badgecount, .badge3 {
  color: var(--bronze-darker);
}

.badge-tag {
  color: white;
  background-color: var(--darkest-grey);
}

.badge, .badge-tag {
  padding: .4em .8em .4em .4em;
  margin: 0 3px 3px 0;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid var(--border-gray);
  display: inline-block;
  border-radius: 4px;
}

.stackoverflow {
  background-color: var(--dark-grey);
  color: white;
}
