/*
Gallery of font sizes

 **NOTE**: There's something wrong with KSS which renders the
non-`.handwriting` `<h1>` (purposedly rendered in red) with the wrong
`fond-size`. Indeed, if I put the same markup in the actual page, it works
well, but here it seems like some spurious user agent stylesheet overrides the
rule `font-size: 2em;` that is set via the `h1` selector with something else:
```css
:-webkit-any(article, aside, nav, section) :-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
```

Markup:
<style>
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
  #kss-font-size-bug {
    color: red;
  }
</style>
<!-- REMOVE THE ID BELOW, WHICH IS JUST FOR THE PURPOSE OF THE COMMENT IN THE NOTE -->
<h1 id="kss-font-size-bug">This is h1</h1><h1 class="handwriting">This handwritten is h1</h1>
<h2>This is h2</h2><h2 class="handwriting">This handwritten is h2</h2>
<h3>This is h3</h3><h3 class="handwriting">This handwritten is h3</h3>
<h4>This is h4</h4><h4 class="handwriting">This handwritten is h4</h4>
<h5>This is h5</h5><h5 class="handwriting">This handwritten is h5</h5>
<h6>This is h6</h6><h6 class="handwriting">This handwritten is h6</h6>
<div>This is div</div><div class="handwriting">This handwritten is div</div>

Styleguide Text.fonts
*/

body {
  font-family: 'Lato', sans-serif;
}

:root {
  --base-font-size-rem: 0.8;     /* This is meant to be a length in `rem` */
  --font-size-mult-nondim: 1rem; /* whereas this is meant to be non-dimensional. */
                                 /* The reason why they are the other way around
                                  * is that CSS doesn't support division between
                                  * non-dimensional lengths, so [goto XXX]
                                  * Therefore, I have moved the unit from the
                                  * wannabe-length to the wannabe-scalar. */
  --font-size: calc(var(--base-font-size-rem) * var(--font-size-mult-nondim));
  font-size: var(--font-size);
}

@media (min-width: 25rem) {
  :root {
    /* [XXX] I can't define this as non-dimensional, because that would
     * require dividing `100vw - 25rem` by `50rem`. [goto previous]*/
    --font-size-mult-nondim: calc(1rem + (100vw - 25rem)/50);
  }
}

@media (min-width: 50rem) {
  :root {
    --font-size-mult-nondim: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  --h1-size: calc(2.03125 * var(--base-font-size-rem) * 1rem);
  --h6-size: calc(1.09375 * var(--base-font-size-rem) * 1rem);
  --hn-delta: calc((var(--h1-size) - var(--h6-size)) / 5);
}

h1 { --font-size: calc(var(--h6-size) + 5 * var(--hn-delta)); }
h2 { --font-size: calc(var(--h6-size) + 4 * var(--hn-delta)); }
h3 { --font-size: calc(var(--h6-size) + 3 * var(--hn-delta)); }
h4 { --font-size: calc(var(--h6-size) + 2 * var(--hn-delta)); }
h5 { --font-size: calc(var(--h6-size) + 1 * var(--hn-delta)); }
h6 { --font-size: calc(var(--h6-size) + 0 * var(--hn-delta)); }

.handwriting {
  font-family: 'Dancing Script', cursive;
  --handwriting-to-main-font-ratio: 2;
  font-size: calc(var(--font-size) * var(--handwriting-to-main-font-ratio));
}
