code.hljs {
  text-shadow: initial;
}

/*
Compiler Explorer icon in code examples linked to it

Adds a Compiler Explorer icon in the top right of these code snippets
from which I link to Compiler Explorer.

Markup:
<script src="../highlight/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<a href="https://godbolt.org/" target="_blank">
  <pre><code class="language-cpp">struct A {
  int x;
  int f();
};</code></pre>
</a>

Styleguide External.godbolt-logo-in-code-examples
*/


a[href^="https://godbolt.org/"],
a[href^="https://onlinegdb.com/"] {
  text-decoration: none;
}

a[href^="https://godbolt.org/"] > pre > code,
a[href^="https://onlinegdb.com/"] > pre > code {
  display: block;
  position: relative;
}

a[href^="https://godbolt.org/"] > pre > code::after,
a[href^="https://onlinegdb.com/"] > pre > code::after {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity var(--transition-time);
}

a[href^="https://godbolt.org/"] > pre > code:hover::after,
a[href^="https://onlinegdb.com/"] > pre > code:hover::after {
  opacity: 100%;
}

a[href^="https://godbolt.org/"] > pre > code::after {
  content: url("../../img/godbolt-ar21.svg");
}

a[href^="https://onlinegdb.com/"] > pre > code::after {
  padding: 0.5em;
  content: url("../../img/onlinegdb.ico");
}
