/*
 * Interesting page on how to mix colors:
 * https://css-tricks.com/mixing-colors-in-pure-css/
 */

/*
 Add a KSS gallery of colors
 */
:root {
  --brand-color: hsl(204, 100%, 50%);
  --brand-color-adot5: hsl(204, 100%, 50%, 13%);
  --bg-color: hsl(227, 14%, 25%);
  --fg-color: hsl(210, 25%, 98%);
  --shadow: hsl(228, 14%, 7%);
  --panel-bg-color: hsl(224, 13%, 34%);
  --panel-bg-color-lighter: hsl(226, 13%, 42%);
  --ligher-black: hsl(224, 13%, 34%);
  --even-ligher-black: hsl(226, 7%, 64%);
  --white: hsl(210, 25%, 98%);
  --down-right-box-shadow: 0.1em 0.1em 0.4em var(--shadow);
  --brand-glow: 0 0 1em 0.3em var(--brand-color-adot5);
  /*
   * Colors below are taken from
   * https://www.color-hex.com/color-palette/36646
   hsl(223, 12%, 29%)
   hsl(227, 14%, 25%)
   hsl(224, 13%, 34%)
   hsl(213, 71%, 60%)
   hsl(221, 7%, 52%)
   */
}

.transparent-50 {
  opacity: 50%;
}
