:root {
  --brand-color: #0099ff;
  --bg-color: #383c4a;
  --shadow: #0f1014;
  --panel-bg-color: #4b5162;
  --panel-bg-color-lighter: #5d647a;
  --ligher-black: #4b5162;
  --even-ligher-black: #9ea2aa;
  --white: #fafbfc;
  /*
   #404552
   #383c4a
   #4b5162
   #5294e2
   #7c818c
   */
}
