.dark-light-mode {
  position: relative;
}

.dark-light-mode + label + div {
  position: absolute;
  border: 1px solid black;
  color: var(--warning-grey);
  background-color: var(--warning-yellow);
  padding: 0.5ex;
}

.dark-light-mode + label:hover + div {
  opacity: 100%;
  transform: translate(-50%);
}

.dark-light-mode + label:not(:hover) + div {
  opacity: 0;
}
