body {
  font-family: 'Lato', sans-serif;
}

:root {
  --base-font-size-rem: 0.8;     /* This is meant to be a length in `rem` */
  --font-size-mult-nondim: 1rem; /* whereas this is meant to be non-dimensional. */
                                 /* The reason why they are the other way around
                                  * is that CSS doesn't support division between
                                  * non-dimensional lengths, so [goto XXX]
                                  * Therefore, I have moved the unit from the
                                  * wannabe-length to the wannabe-scalar. */
  --font-size: calc(var(--base-font-size-rem) * var(--font-size-mult-nondim));
  font-size: var(--font-size);
}

@media (min-width: 25rem) {
  :root {
    /* [XXX] I can't define this as non-dimensional, because that would
     * require dividing `100vw - 25rem` by `50rem`. [goto previous]*/
    --font-size-mult-nondim: calc(1rem + (100vw - 25rem)/50);
  }
}

@media (min-width: 50rem) {
  :root {
    --font-size-mult-nondim: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  --h1-size: calc(2.03125 * var(--base-font-size-rem) * 1rem);
  --h6-size: calc(1.09375 * var(--base-font-size-rem) * 1rem);
  --hn-delta: calc((var(--h1-size) - var(--h6-size)) / 5);
}

h1 { --font-size: calc(var(--h6-size) + 5 * var(--hn-delta)); }
h2 { --font-size: calc(var(--h6-size) + 4 * var(--hn-delta)); }
h3 { --font-size: calc(var(--h6-size) + 3 * var(--hn-delta)); }
h4 { --font-size: calc(var(--h6-size) + 2 * var(--hn-delta)); }
h5 { --font-size: calc(var(--h6-size) + 1 * var(--hn-delta)); }
h6 { --font-size: calc(var(--h6-size) + 0 * var(--hn-delta)); }

.handwriting {
  font-family: 'Dancing Script', cursive;
  --handwriting-to-main-font-ratio: 2;
  font-size: calc(var(--font-size) * var(--handwriting-to-main-font-ratio));
}
