/*
Keyboard keys

A class to show text in a key-like rectangle.

**Note**: the border of the key has color `var(--even-ligher-black)`.

Markup:
Hit <span class="key">Enter</span> to continue.

Styleguide Rendering.Keyboard key
*/

.key {
  font-family: monospace;
  font-size: 0.6rem;
  border-width: 1px;
  border: 1px solid var(--even-ligher-black); /* change this to a brand color */
  border-radius: 0.3em;
  border-bottom-width: 2px;
  padding: 0.1em 0.2em;
  display: inline-block;
  transform: translateY(-0.25em);
  margin: 0 1px -1em 1px;
}
