/*
Keyboard keys

A class to show text in a key-like rectangle.

**Note**: the border of the key has color `var(--even-ligher-black)`.

Markup:
Hit <span class="key">Enter</span> to continue.

Styleguide Rendering.Keyboard key
*/

.key {
  border-width: 1px;
  border: 1px solid var(--even-ligher-black); /* change this to a brand color */
  border-radius: 0.3em;
  border-bottom-width: 2px;
  font-size: 0.4em;
  padding: 0.1em 0.2em;
  margin: 0 1px;
  font: 8px monospace;
}
