.modal {
  /* display: none; REMOVE THIS LINE WHEN PUBLISHING */
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-body {
  position: fixed;
  top: 3em;
  bottom: 3em;
  right: 3em;
  left: 3em;
  padding: 2em 3em;
  background-color: var(--bg-color);
  overflow: auto;
  text-align: center;
  z-index: 2;
}

.modal-close {
  background-color: transparent;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  cursor: pointer;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
}

.modal-close::after {
  color: var(--fg-color);
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.1em;
  text-indent: 0;
  content: "\00D7";
}
