.WIP {
  --yellow: #f1c923;
  --grey: #333;
  color: var(--yellow);
  text-align: center;
  font-weight: bolder;
}

.WIP::after {
  content: "";
  display: block;
  height: 1em;
  width: 80%;
  --init: 0px;
  background-image: repeating-linear-gradient(-45deg, var(--yellow) var(--init), var(--yellow) calc(var(--init) + 10px), var(--grey) calc(var(--init) + 10px), var(--grey) calc(var(--init) + 20px));
  margin: auto;
  margin-top: 0.5em;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.4em var(--shadow), inset -0.1em -0.1em 0.4em black;
}
