.site-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}

.site-nav > li > label {
  font-variant-caps: all-small-caps;
  color: var(--fg-color);
  background-color: var(--panel-bg-color-lighter);
}

/* These 2 rulesets below are are meant to enable/disable
 * the tabs depending on which one is selected. However,
 * I should use a more appropriate pattern for tabs
 */
.main > section {
  display: none;
}
.main > section#posts {
  display: initial;
}
