.site-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
}

.site-nav > li > label {
  font-variant-caps: all-small-caps;
  color: var(--fg-color);
  background-color: var(--panel-bg-color-lighter);
}
