/*
Outer panel

A simple panel of color `var(--panel-bg-color)`.

Markup:
<div class="panel {{modifier_class}}" style="height: 4em;">
Hello world!
</div>

.panel--rounded  - Panel with left bottom corner rounded

Styleguide Panel.panel
*/

.panel {
  background-color: var(--panel-bg-color);
  color: var(--fg-color);
  margin-top: 0;
}

.panel > * {
  padding: 1em;
}

.panel--rounded {
  border-radius: 0 0 0 2em;
  overflow: hidden;
}

/*
Panel header

This is meant to be used for the heading part of a panel.

It is of color `var(--panel-bg-color-lighter)`.

Markup:
<div class="panel__header {{modifier_class}}" style="width: auto;">
  <h1>this is 1st child</h1>
  <h4>this is 2nd child</h4>
  <h5>this is 3rd child</h5>
</div>

.panel__header--two-children  - A thin line separates first child from second

Styleguide Panel.panel.header
*/

.panel__header {
  flex-direction: column;
  background-color: var(--panel-bg-color-lighter);
  color: var(--fg-color);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
}

.panel__header * {
  margin: 0;
}

.panel__header--two-children > :first-child::after {
  /* thin line between the two children */
  display: block;
  content: "";
  width: 4em;
  height: 0.05em;
  border-radius: 100%;
  margin: 0.25em auto;
  background-color: var(--fg-color);
}

.panel__header .panel-icon {
  background: transparent;
  position: absolute;
  --height: 2em;
  height: var(--height);
  left: 1em;
  bottom: calc(-0.5*var(--height));
  /* filter: brightness(0) invert(1); *//* not sure if it's nicer with or without this */
}
