.social-links {
  width: 4em;
  display: flex; /* or just flex? */
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
  margin: 0;
}

.social-links .fa {
  color: var(--white);
}

.social-links {
  font-size: larger;
}

.social-links a {
  position: relative;
}

.social-links a:hover {
  text-decoration: none;
  transform: scale(1.2);
  transition: transform var(--transition-time);
}

.social-links a:hover + .stackoverflow {
  text-decoration: none;
  transform: translate(-50%) scale(0.8);
  transition: opacity var(--transition-time);
}

.social-links a + .stackoverflow {
  position: absolute;
}

.social-links a:not(:hover) + .stackoverflow {
  opacity: 0;
}
