/*
StackOverflow widget

A panel to show StackOverflow-specific stuff.

This module defines its own variables and uses high specificity selectors.
This is done to force it being stable regardless of other styles; after all, I
**don't want** it to be coherent with the rest of the site, as it represents a
view on an external site.

Markup:
<style>
.stackoverflow-widget {
  width: 10em;
  height: 5em;
}
</style>
<div class="stackoverflow-widget box-shadow">
hello world
</div>

Styleguide External.stackoverflow-widget
*/

.stackoverflow-widget {
  --border: hsl(210, 5%, 44%);
  color: hsl(210, 7%, 78%);
  background-color: hsl(0, 0%, 22.5%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif;
  border: 1px solid var(--border);
  width: max-content;
  padding: 0.3em;
  border-radius: 0.15em;
}

.stackoverflow-widget.flex,
.stackoverflow-widget .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.stackoverflow-widget * {
  align-self: center;
  font-size: initial;
}

.stackoverflow-widget.flex > * + *,
.stackoverflow-widget .flex > * + * {
  padding: 0;
  margin: 0 0 0 0.6em;
}

.stackoverflow-widget > .avatar {
  width: 2em;
  height: 2em;
  border-radius: 0.15em;
}

.stackoverflow-widget > .badges > * {
  color: var(--badge-color);
  display: flex;
  align-items: center;
}

.stackoverflow-widget > .badges > *::before {
  display: inline-block;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: var(--badge-color);
  margin-right: 0.15em;
}

.stackoverflow-widget > .reputation {
  font-weight: bold;
}

.stackoverflow-widget > .badges > .bronze {
  --badge-color: var(--stackoverflow-bronze-darker);
}

.stackoverflow-widget > .badges > .silver {
  --badge-color: var(--stackoverflow-silver-darker);
}

.stackoverflow-widget > .badges > .gold {
  --badge-color: var(--stackoverflow-gold-darker);
}

a#stackoverflow-link + .stackoverflow-widget {
  left: 50%;
  transform: translate(-50%) scale(0.8);
}

a#stackoverflow-link:hover + .stackoverflow-widget {
  text-decoration: none;
  transition: opacity var(--transition-time);
}

a#stackoverflow-link + .stackoverflow-widget {
  position: absolute;
}

a#stackoverflow-link:not(:hover) + .stackoverflow-widget {
  opacity: 0;
}
