/*
Toggle

A simple toggle to switch some config on/off.

Markup:
<div>
  <input id="toggle" class="toggle" type="checkbox" value="" />
  <label for="toggle"></label>
</div>

Styleguide Utilities.toggle
*/

input.toggle {
  position: absolute;
  /* One of these two wold be ideal:
   * visibility: hidden;
   * appearance: none;
   * However it also kills hints that qutebrowser follow, so the alternative is
   * to make it as small and transparent as possible: */
  opacity: 1%;
  width: 2px;
  height: 2px;
}

input.toggle + label {
  display: block;
  cursor: pointer;
  padding: 0;
  background-color: var(--ligher-black);
  --track-height: 1em;
  --track-AR: 2.2;
  --thumb-diameter-to-track-height: 1.3;
  --track-width: calc(var(--track-AR) * var(--track-height));
  height: var(--track-height);
  width: var(--track-width);
  border-radius: calc(0.5 * var(--track-height));
  position: relative;
  box-shadow: inset 0.08em 0.08em 0.2em var(--shadow);
}

input.toggle + label::before,
input.toggle + label::after {
  display: block;
  content: "";
}

input.toggle + label::before {
  /* Color in the track? To consider when implementing dark mode */
}

input.toggle + label::after {
  --thumb-diameter: calc(var(--thumb-diameter-to-track-height) * var(--track-height));
  height: calc(var(--thumb-diameter));
  width: calc(var(--thumb-diameter));
  border-radius: 100%;
  position: absolute;
  --leftover: calc(0.5 * (var(--thumb-diameter) - var(--track-height)));
  bottom: calc(-1 * var(--leftover));
  left: calc(-1 * var(--leftover));
  transition: all 0.2s;
  background-image: radial-gradient(2em at 25% 25%, var(--white), var(--even-ligher-black), var(--ligher-black), var(--bg-color) 60%, var(--shadow));
  box-shadow: 0.08em 0.08em 0.2em black;
}

input.toggle:focus + label::after {
  /*box-shadow: 0.08em 0.08em 0.2em red;*/
}

input.toggle:checked + label::after {
  left: calc(var(--track-width) - var(--thumb-diameter) + var(--leftover));
}
