/*
Text with fancy underline

Useful to put it above panes with CV entries.

The underline is a round dot with filling of color `--theme-color` and shadow
of color `--down-right-shadow`.

Markup:
<div class="fancy-underline">
  <div>
    Lorem ipsum dolor sit amet
  </div>
</div>

Styleguide Widget.fancy-underline
*/

.fancy-underline {
  width: fit-content;
}

.fancy-underline > * {
  margin-bottom: 0.4em;
}

.fancy-underline > *::after {
  display: block;
  content: "";
  width: 1em;
  /*width: border-box;*/
  height: 1em;
  margin: auto;
  margin-top: 0.2em;
  border-radius: 100%;
  background-color: var(--theme-color);
  box-shadow: var(--down-right-shadow);
}
