@property --offset {
  syntax: '<length>';
  initial-value: 0;
  inherits: false;
}

@keyframes stripes-offset {
  0% {
    --offset: 20px;
  }
  100% {
    --offset: 0px;
  }
}

.wip {
  color: var(--warning-yellow);
  text-align: center;
  font-weight: bolder;
}

.wip::after {
  content: "";
  display: block;
  --height: 1em;
  height: var(--height);
  width: 80%;
  animation: stripes-offset 1.5s linear infinite;
  background-image: repeating-linear-gradient(-45deg, var(--warning-yellow) var(--offset), var(--warning-yellow) calc(var(--offset) + 10px), var(--warning-grey) calc(var(--offset) + 10px), var(--warning-grey) calc(var(--offset) + 20px));
  margin: auto;
  margin-top: 0.5em;
  border-radius: var(--height);
  box-shadow: 0.1em 0.1em 0.4em var(--shadow), inset -0.1em -0.1em 0.4em black;
}
