/*
Opacity-based choice picker.

A disk shown for each possible choice; the disk of the selected choice is 100%
opaque, whereas the others are 50%.

**_Note_**: the inner `<div>`s in the example below are just examples, and can be
chaged to other tags, such as `<svg>` or the likes; also the outer `<div>` can be
changed. On the other hand, `<input>` and `<label>` cannot be changed as they are
targeted as selectors.

Markup:
<div class="choice-picker">
  <input type="radio" id="choice1" name="choices" checked="checked">
  <label for="choice1">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
  <input type="radio" id="choice2" name="choices">
  <label for="choice2">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
  <input type="radio" id="choice3" name="choices">
  <label for="choice3">
    <div style="width: 3em; height: 3em; background-color: black; border-radius: 100%;"></div>
  </label>
</div>

Styleguide Utilities.choice-picker
*/

.choice-picker > input {
  position: absolute;
  visibility: hidden;
}

.choice-picker > input + label {
}

.choice-picker > input + label > * {
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  margin: 0.1em;
  vertical-align: top;
}

.choice-picker > input:checked + label > * {
  box-shadow: 0 0 0.2em 1px var(--shadow);
  opacity: 1;
}

/*
Country Flag

A circle of radius 1.5em encosing an SVG representing a flag.

_**Note:**_ The CSS rule targets `svg.country-flag` to enforce that the flag
be an SVG.

_**Note:**_ For the flag to fully cover the circle,
`preserveAspectRatio="none"` should be set in the `<svg>` tag.

_**Note:**_ The flag is actually distorted to fit the square in which the
circle is inscribed.

Markup:
<svg preserveAspectRatio="none" class="country-flag" xmlns="http://www.w3.org/2000/svg" width="1500" height="1000" viewBox="0 0 3 2">
  <rect width="3" height="2" fill="#009246"/>
  <rect width="2" height="2" x="1" fill="#fff"/>
  <rect width="1" height="2" x="2" fill="#ce2b37"/>
</svg>

Styleguide Country Flag
*/

svg.country-flag {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
}
