/*
 * Remember:
 *
 *   - variable names must start with two hyphens (--), e.g. --some-var
 *   - BEM-style notation
 *      - double-underscores indicate sub-elements of a module, e.g. hero__inner,
 *      - double-hyphens indicate variants of a module, e.g. message--error
 *   - fallback values can be set for variables, e.g. var(--some-var, fallback)
 *
 */

@import url('border-box-fix.css');
@import url('colors.css');
@import url('toggle.css');
@import url('language.css');
@import url('panels.css');
@import url('cv-specific.css');
@import url('copyright.css');

body {
  --main-font: Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--white);
  margin: 0;
  font-family: var(--main-font);
}

main {
  font-size: 0.8em;
  margin: 0 1em;
}

body * + * {
}

.top-bar {
  padding: 0.5em 1em;
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  text-align: center;
}

.handwritten-font {
  font-family: 'Dancing Script', cursive;
}



/*
Filter button

Checkbox with the shape of an on/off button.

Markup:
<div class="filter">
  <input id="checkbox" type="checkbox" value="" />
  <label for="checkbox">Work</label>
</div>

Styleguide Filter button
*/

.filter > input {
  position: absolute;
  visibility: hidden;
}

.filter > label {
  font-variant-caps: all-small-caps;
  display: inline-block;
  cursor: pointer;
  width: auto;
  color: white;
  background-color: #999999;
  padding: 0.5em 1em;
  box-shadow: 0.08em 0.08em 0.2em #333;
}

.filter > input:checked+label {
  background-color: #00aaaa;
  box-shadow: 0 0 0.3em cyan;
  transform: translate(0.08em, 0.08em);
}
