/*
 * Remember:
 *
 *   - variable names must start with two hyphens (--), e.g. --some-var
 *   - BEM-style notation
 *      - double-underscores indicate sub-elements of a module, e.g. hero__inner,
 *      - double-hyphens indicate variants of a module, e.g. message--error
 *   - fallback values can be set for variables, e.g. var(--some-var, fallback)
 *
 */

@import url('modules/border-box-fix.css');
@import url('modules/colors.css');
@import url('modules/fonts.css');
@import url('modules/toggle.css');
@import url('modules/language.css');
@import url('modules/top-bar.css');
@import url('modules/panels.css');
@import url('modules/cv-specific.css');
@import url('modules/copyright.css');

body {
  background-color: var(--bg-color);
  color: var(--white);
  margin: 0;
  font-family: var(--main-font);
}

main {
  font-size: 0.8em;
  margin: 0 1em;
}

.page-title {
  text-align: center;
}

.handwritten-font {
  font-family: var(--handwritten-font);
}



/*
Filter button

Checkbox with the shape of an on/off button.

Markup:
<div class="filter">
  <input id="checkbox" type="checkbox" value="" />
  <label for="checkbox">Work</label>
</div>

Styleguide Filter button
*/

.filter > input {
  position: absolute;
  visibility: hidden;
}

.filter > label {
  font-variant-caps: all-small-caps;
  display: inline-block;
  cursor: pointer;
  width: auto;
  color: white;
  background-color: #999999;
  padding: 0.5em 1em;
  box-shadow: 0.08em 0.08em 0.2em #333;
}

.filter > input:checked+label {
  background-color: #00aaaa;
  box-shadow: 0 0 0.3em cyan;
  transform: translate(0.08em, 0.08em);
}
